[submodule "simple_listview_flutter"]
	path = simple_listview_flutter
	url = https://github.com/zakwandhiya/simple_listview_flutter.git
[submodule "simple_input_flutter"]
	path = simple_input_flutter
	url = https://github.com/zakwandhiya/simple_input_flutter.git
[submodule "color_wheel_flutter"]
	path = color_wheel_flutter
	url = https://github.com/zakwandhiya/color_wheel_flutter.git
[submodule "navigation_flutter"]
	path = navigation_flutter
	url = https://github.com/zakwandhiya/navigation_flutter.git
[submodule "image_assets"]
	path = image_assets
	url = https://github.com/zakwandhiya/image_assets.git
[submodule "flutter_http_request_example"]
	path = flutter_http_request_example
	url = https://github.com/zakwandhiya/flutter_http_request_example.git
[submodule "statefull_widget_flutter"]
	path = statefull_widget_flutter
	url = https://github.com/zakwandhiya/statefull_widget_flutter.git
[submodule "image_assets_flutter"]
	path = image_assets_flutter
	url = https://github.com/zakwandhiya/image_assets_flutter.git
[submodule "bloc_pattern_flutter"]
	path = bloc_pattern_flutter
	url = https://github.com/zakwandhiya/bloc_pattern_flutter.git
[submodule "scoped_model_flutter"]
	path = scoped_model_flutter
	url = https://github.com/zakwandhiya/scoped_model_flutter.git
